.App{
  /* background-color: black; */
  background-color: #bcb6ae;
  background-image: linear-gradient(#171820 , #bcb6ae 0%, #171820 60%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  background-color: rgb(223, 134, 29, 0.9);
  border: 1px solid rgb(223, 134, 29);
  border-radius: 10px;
  box-shadow: rgb(170, 61, 1);
}

