.App{
  /* background-color: #bcb6ae;
  background-image: linear-gradient(#171820 , #bcb6ae 0%, #171820 60%); */
  background-color: #171820;
  background-image: linear-gradient(#171820 , #171820 0%, #df861d 50%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  background-color: rgb(188, 182, 174);
  border: 1px solid rgb(188, 182, 174);
  border-radius: 10px;
  box-shadow: rgb(196, 165, 148);
}

